</div>
<div class="b-page__footer">
    <div class="logo"></div>
    <a href="http://belzen.by/" class="zenrus-link"
       title="Все права принадлежат им и вообще, мне только лабу сдать">(Скопировано правильно) belzen.by</a>
</div>
</div>
</body>
</html>